.idea
Data
*/__pycache__/
*/My
runs
*/runs
*/ckpts

# checkpoints
checkpoints/
checkpoints_v2/
*.pth

# visualization outputs
# all visualization outputs
visualization_outputs*/
runs/

__pycache__/
*.pyc
visualization_outputs/
visualization_outputs_v2/
*/preds
My
